<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Eat It!</title>

</head>

<body>

	{{{ body }}}

<center>
	<form action="burger_create" method="POST">          	
    	<label for="new_burger" class="red_font">Request a new burger and place your order!</label>
		<br>
        <textarea class="form-control" columns="8" rows="4" id="new_burger" name="burger_name"></textarea>
		<br>
        <button id="submit-button" type="submit" class="btn btn-danger">Place Order</button>
    </form>
</center>


 
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  </body>
</html>
